<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="logDirectory" value="${basedir}/logs" />

  <extensions>
    <add assembly="NLog.StructuredLogging.Json" />
  </extensions>
  
  <targets>
    <target name="logstash"
                xsi:type="Network"
                layout="${structuredlogging.json}"
                address="http://127.0.0.1:9201" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logstash" />
  </rules>
</nlog>
